:root {
  -webkit-locale: "en";
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
  overflow-y: auto !important;
  font-size: 15px !important;
  box-sizing: border-box;
  overflow-x: hidden;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  line-height: 1.15;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --antd-wave-shadow-color: #1890ff;
  --v-anchor-base: #ff7a40;
  --v-primary-base: #ff7a40;
  --v-primary-lighten5: #ffffc4;
  --v-primary-lighten4: #ffeaa8;
  --v-primary-lighten3: #ffcd8d;
  --v-primary-lighten2: #ffb173;
  --v-primary-lighten1: #ff9559;
  --v-primary-darken1: #df5f27;
  --v-primary-darken2: #bf450b;
  --v-primary-darken3: #a02a00;
  --v-primary-darken4: #820500;
  --v-secondary-base: #000000;
  --v-secondary-lighten5: #777777;
  --v-secondary-lighten4: #5e5e5e;
  --v-secondary-lighten3: #474747;
  --v-secondary-lighten2: #303030;
  --v-secondary-lighten1: #1b1b1b;
  --v-secondary-darken1: #000000;
  --v-secondary-darken2: #000000;
  --v-secondary-darken3: #000000;
  --v-secondary-darken4: #000000;
  --v-accent-base: #82b1ff;
  --v-accent-lighten5: #ffffff;
  --v-accent-lighten4: #f8ffff;
  --v-accent-lighten3: #daffff;
  --v-accent-lighten2: #bce8ff;
  --v-accent-lighten1: #9fccff;
  --v-accent-darken1: #6596e2;
  --v-accent-darken2: #467dc6;
  --v-accent-darken3: #2364aa;
  --v-accent-darken4: #004c90;
  --v-error-base: #f97475;
  --v-error-lighten5: #fffffd;
  --v-error-lighten4: #ffe5e0;
  --v-error-lighten3: #ffc8c4;
  --v-error-lighten2: #ffaba9;
  --v-error-lighten1: #ff8f8f;
  --v-error-darken1: #da595c;
  --v-error-darken2: #bc3e45;
  --v-error-darken3: #9d202f;
  --v-error-darken4: #80001a;
  --v-info-base: #21344d;
  --v-info-lighten5: #9eafce;
  --v-info-lighten4: #8395b3;
  --v-info-lighten3: #6a7b98;
  --v-info-lighten2: #51627e;
  --v-info-lighten1: #394b65;
  --v-info-darken1: #081f36;
  --v-info-darken2: #000621;
  --v-info-darken3: #00000b;
  --v-info-darken4: #000000;
  --v-success-base: #66bb6a;
  --v-success-lighten5: #f4fff2;
  --v-success-lighten4: #d6ffd6;
  --v-success-lighten3: #baffba;
  --v-success-lighten2: #9df49e;
  --v-success-lighten1: #82d784;
  --v-success-darken1: #4aa051;
  --v-success-darken2: #2d8539;
  --v-success-darken3: #056b21;
  --v-success-darken4: #005207;
  --v-warning-base: #fb8c00;
  --v-warning-lighten5: #ffff9e;
  --v-warning-lighten4: #fffb82;
  --v-warning-lighten3: #ffdf67;
  --v-warning-lighten2: #ffc24b;
  --v-warning-lighten1: #ffa72d;
  --v-warning-darken1: #db7200;
  --v-warning-darken2: #bb5900;
  --v-warning-darken3: #9d4000;
  --v-warning-darken4: #802700;
  --v-best_green-base: #28a744;
  --v-best_green-lighten5: #c2ffc9;
  --v-best_green-lighten4: #a4ffad;
  --v-best_green-lighten3: #87fc92;
  --v-best_green-lighten2: #6adf77;
  --v-best_green-lighten1: #4bc35d;
  --v-best_green-darken1: #008c2b;
  --v-best_green-darken2: #00720f;
  --v-best_green-darken3: #005800;
  --v-best_green-darken4: #003f00;
  --v-INR-base: #f79432;
  --v-INR-lighten5: #ffffba;
  --v-INR-lighten4: #ffff9e;
  --v-INR-lighten3: #ffe783;
  --v-INR-lighten2: #ffcb68;
  --v-INR-lighten1: #ffaf4d;
  --v-INR-darken1: #d87a13;
  --v-INR-darken2: #b96100;
  --v-INR-darken3: #9a4800;
  --v-INR-darken4: #7d3000;
  --v-MYR-base: #ffc700;
  --v-MYR-lighten5: #ffffae;
  --v-MYR-lighten4: #ffff91;
  --v-MYR-lighten3: #ffff73;
  --v-MYR-lighten2: #ffff56;
  --v-MYR-lighten1: #ffe335;
  --v-MYR-darken1: #e0ac00;
  --v-MYR-darken2: #c19200;
  --v-MYR-darken3: #a27800;
  --v-MYR-darken4: #866000;
  --v-BDT-base: #026b4f;
  --v-BDT-lighten5: #9cf3d1;
  --v-BDT-lighten4: #80d6b5;
  --v-BDT-lighten3: #64ba9a;
  --v-BDT-lighten2: #499f80;
  --v-BDT-lighten1: #2c8567;
  --v-BDT-darken1: #005238;
  --v-BDT-darken2: #003a23;
  --v-BDT-darken3: #00250d;
  --v-BDT-darken4: #001500;
  --v-THB-base: #1db148;
  --v-THB-lighten5: #c1ffce;
  --v-THB-lighten4: #a3ffb2;
  --v-THB-lighten3: #85ff96;
  --v-THB-lighten2: #67ea7c;
  --v-THB-lighten1: #46cd62;
  --v-THB-darken1: #00962f;
  --v-THB-darken2: #007b13;
  --v-THB-darken3: #006100;
  --v-THB-darken4: #004700;
  --v-NPR-base: #fa6e86;
  --v-NPR-lighten5: #fffdff;
  --v-NPR-lighten4: #ffdff3;
  --v-NPR-lighten3: #ffc2d7;
  --v-NPR-lighten2: #ffa6bb;
  --v-NPR-lighten1: #ff8aa0;
  --v-NPR-darken1: #db526d;
  --v-NPR-darken2: #bd3655;
  --v-NPR-darken3: #9f133e;
  --v-NPR-darken4: #810028;
  --v-USD-base: #000000;
  --v-USD-lighten5: #777777;
  --v-USD-lighten4: #5e5e5e;
  --v-USD-lighten3: #474747;
  --v-USD-lighten2: #303030;
  --v-USD-lighten1: #1b1b1b;
  --v-USD-darken1: #000000;
  --v-USD-darken2: #000000;
  --v-USD-darken3: #000000;
  --v-USD-darken4: #000000;
  --v-lime_yellow-base: #fffcad;
  --v-lime_yellow-lighten5: #ffffff;
  --v-lime_yellow-lighten4: #ffffff;
  --v-lime_yellow-lighten3: #ffffff;
  --v-lime_yellow-lighten2: #ffffe5;
  --v-lime_yellow-lighten1: #ffffc9;
  --v-lime_yellow-darken1: #e2df92;
  --v-lime_yellow-darken2: #c5c478;
  --v-lime_yellow-darken3: #a9a85e;
  --v-lime_yellow-darken4: #8e8e45;
  --v-primaryAdmin-base: #0067a6;
  --v-primaryAdmin-lighten5: #b1ecff;
  --v-primaryAdmin-lighten4: #93d0ff;
  --v-primaryAdmin-lighten3: #76b4fa;
  --v-primaryAdmin-lighten2: #589add;
  --v-primaryAdmin-lighten1: #3780c1;
  --v-primaryAdmin-darken1: #004f8b;
  --v-primaryAdmin-darken2: #003972;
  --v-primaryAdmin-darken3: #002459;
  --v-primaryAdmin-darken4: #000e41;
  --v-redAdmin-base: #fa6e86;
  --v-redAdmin-lighten5: #fffdff;
  --v-redAdmin-lighten4: #ffdff3;
  --v-redAdmin-lighten3: #ffc2d7;
  --v-redAdmin-lighten2: #ffa6bb;
  --v-redAdmin-lighten1: #ff8aa0;
  --v-redAdmin-darken1: #db526d;
  --v-redAdmin-darken2: #bd3655;
  --v-redAdmin-darken3: #9f133e;
  --v-redAdmin-darken4: #810028;
  --v-primarySub-base: #55b2f3;
  --v-primarySub-lighten5: #f0ffff;
  --v-primarySub-lighten4: #d1ffff;
  --v-primarySub-lighten3: #b3ffff;
  --v-primarySub-lighten2: #94eaff;
  --v-primarySub-lighten1: #75cdff;
  --v-primarySub-darken1: #2f97d6;
  --v-primarySub-darken2: #007ebb;
  --v-primarySub-darken3: #00659f;
  --v-primarySub-darken4: #004d85;
  --v-aqua-base: #28fab1;
  --v-aqua-lighten5: #deffff;
  --v-aqua-lighten4: #beffff;
  --v-aqua-lighten3: #9dffff;
  --v-aqua-lighten2: #7cffe9;
  --v-aqua-lighten1: #58ffcd;
  --v-aqua-darken1: #00dd96;
  --v-aqua-darken2: #00c07c;
  --v-aqua-darken3: #00a463;
  --v-aqua-darken4: #00894b;
  --v-purple-base: #dc8cff;
  --v-purple-lighten5: #ffffff;
  --v-purple-lighten4: #fffdff;
  --v-purple-lighten3: #ffe0ff;
  --v-purple-lighten2: #ffc3ff;
  --v-purple-lighten1: #f9a7ff;
  --v-purple-darken1: #bf71e2;
  --v-purple-darken2: #a357c6;
  --v-purple-darken3: #873daa;
  --v-purple-darken4: #6c238f;
  --v-background-base: #f8f8f8;
  --v-background-lighten5: #ffffff;
  --v-background-lighten4: #ffffff;
  --v-background-lighten3: #ffffff;
  --v-background-lighten2: #ffffff;
  --v-background-lighten1: #ffffff;
  --v-background-darken1: #dbdbdb;
  --v-background-darken2: #c0c0c0;
  --v-background-darken3: #a5a5a5;
  --v-background-darken4: #8a8a8a;
  --v-textMain-base: #000000;
  --v-textMain-lighten5: #777777;
  --v-textMain-lighten4: #5e5e5e;
  --v-textMain-lighten3: #474747;
  --v-textMain-lighten2: #303030;
  --v-textMain-lighten1: #1b1b1b;
  --v-textMain-darken1: #000000;
  --v-textMain-darken2: #000000;
  --v-textMain-darken3: #000000;
  --v-textMain-darken4: #000000;
  --v-lightGray-base: #d3d3d3;
  --v-lightGray-lighten5: #ffffff;
  --v-lightGray-lighten4: #ffffff;
  --v-lightGray-lighten3: #ffffff;
  --v-lightGray-lighten2: #ffffff;
  --v-lightGray-lighten1: #efefef;
  --v-lightGray-darken1: #b7b7b7;
  --v-lightGray-darken2: #9d9d9d;
  --v-lightGray-darken3: #828282;
  --v-lightGray-darken4: #696969;
  --v-textSub-base: #9e9e9e;
  --v-textSub-lighten5: #ffffff;
  --v-textSub-lighten4: #ffffff;
  --v-textSub-lighten3: #f1f1f1;
  --v-textSub-lighten2: #d5d5d5;
  --v-textSub-lighten1: #b9b9b9;
  --v-textSub-darken1: #848484;
  --v-textSub-darken2: #6b6b6b;
  --v-textSub-darken3: #535353;
  --v-textSub-darken4: #3c3c3c;
  --v-background_alt-base: #ffffff;
  --v-background_alt-lighten5: #ffffff;
  --v-background_alt-lighten4: #ffffff;
  --v-background_alt-lighten3: #ffffff;
  --v-background_alt-lighten2: #ffffff;
  --v-background_alt-lighten1: #ffffff;
  --v-background_alt-darken1: #e2e2e2;
  --v-background_alt-darken2: #c6c6c6;
  --v-background_alt-darken3: #ababab;
  --v-background_alt-darken4: #919191;
}
